- const catalogBreadcrumbs = [{"url": "/catalog.html", "title": "Каталог"}]
- const catalogCategories = [{"url":"/catalog-page.html","title":"Терминалы сбора данных","imgId":"01"},{"url":"#","title":"Принтеры этикеток","imgId":"02"},{"url":"#","title":"Принтеры этикеток","imgId":"03"},{"url":"#","title":"Аксессуары","imgId":"04"},{"url":"#","title":"Программное обеспечение","imgId":"05"}]
- const catalogCategoriesExtended = [{"url":"#","title":"Терминалы сбора данных","imgId":"01","items":[{"url":"/catalog-page.html","title":"ТСД мобильные (наладонные)"},{"url":"/catalog-page.html","title":"ТСД корпоративные"},{"url":"/catalog-page.html","title":"ТСД сенсорные (фултач)"},{"url":"/catalog-page.html","title":"ТСД защищенные (сверхпрочные)"},{"url":"/catalog-page.html","title":"ТСД наручные (носимые)"}]},{"url":"#","title":"Принтеры этикеток","imgId":"02","items":[{"url":"#","title":"Настольные принтеры этикеток"},{"url":"#","title":"Промышленные принтеры этикеток"},{"url":"#","title":"Мобильные принтеры этикеток"},{"url":"#","title":"Карточные принтеры этикеток"},{"url":"#","title":"RFID принтеры этикеток"}]},{"url":"#","title":"Принтеры этикеток","imgId":"03","items":[{"url":"#","title":"Универсальные ручные сканеры"},{"url":"#","title":"Стационарные сканеры штрих-кода"},{"url":"#","title":"Промышленные сканеры (сверхпрочны)"},{"url":"#","title":"Беспроводные сканеры"},{"url":"#","title":"Сканер кольца (на палец)"}]},{"url":"#","title":"Аксессуары","imgId":"04","items":[{"url":"#","title":"Аксессуары для ТСД"},{"url":"#","title":"Аксессуары для принтеров этикеток"},{"url":"#","title":"Аксессуары для  сканеров штрих-кода"}]},{"url":"#","title":"Программное обеспечение","imgId":"05","items":[{"url":"#","title":"ПО для систем штрихкодирования для склада"},{"url":"#","title":"ПО для систем штрихкодирования для магазина"},{"url":"#","title":"ПО для систем штрихкодирования для курьеров"},{"url":"#","title":"ПО для систем штрихкодирования RFID"},{"url":"#","title":"Софт EMM"}]}]

include ../components/breadcrumbs.pug

+breadcrumbs("category-page", catalogBreadcrumbs)
include ../partials/catalog-category
include ../partials/catalog-category-extend

