include ../components/catalog-item
// TODO: Добавить ограничения по ширине и дефолтные значения для спейсера
section.catalog-category.pt-5.pb-9
    .catalog-category__wrapper
        .catalog-category__container.gy-5
            .title Оборудование
                .catalog-category__item-row.gy-5.gx-2
                    for item in catalogCategories
                        +catalog-item("category", item)
