.inner-section
    .inner-section__wrapper
        .inner-section__container
            .inner-section__content.gy-5
                header.gx-3
                    block header
                        h2.title title
                    block extend

                .content-block
                    block content
                        | content
