extends ./inner-section
include ../components/arrow-link
include ../components/button-arrow-link
include ../components/tags

block header
    h2.title Похожие модели

    .extend
        +arrow-link('#', 'Все модели Chinaway')

block content
    .similar.content-wrapper
        +tags(similarTags)

        .content-row.expand-container
            each item in catalogProducts
                +catalog-item("product", item)

        .content-row
            .content-row__button-wrapper
                +button("button", "Показать все", "expand-button")

