.breadcrumbs
  &__inner
    +flex
    +flex-direction(row)
    +align-items(center)

    @include breakpoint(xl)
      margin: 0 80px

    @include breakpoint(xxl)
      margin: 0 150px

    a
      +font-16-medium
      white-space: nowrap
      &:not(&:last-child)
        &:after
          content: '/'
          margin-left: 4px

  &.category-page
    background: $bg-color-second
  &.catalog-page
    background: $white-color
